<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <!--html5 page - line basic: Highcharts의 JavaScript-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <!--css page-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <!--javascript page - pie-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!--jquery page-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/cylinder.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <!--ajax page-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<body>             <!--css08의 컨텐츠가 들어갈 블락 지정-->
  <header>
      {% if request.session.sessionid == None %}        <!--장고 템플릿 태그-->
          <ul id="login">                               <!--login 안한 상태일 때-->
              <li><a href="{% url 'register' %}">REGISTER</a></li>
              <li><a href="{% url 'login' %}">LOGIN</a></li>
          </ul>
      {% else %}
          <ul id="login">                                <!--login한 상태일 때-->
              <li><a href="#">{{request.session.sessionid}}</a></li>       <!--{{logid}} 써도 됨-->
              <li><a href="{% url 'logout' %}">LOGOUT</a></li>
          </ul>
      {% endif %}

      <h1>HTML5, CSS 3.0</h1>
  </header>

  <ul id="menu">
      <li><a href="{% url 'html5' %}">HTML5</a></li>
      <li><a href="{% url 'css' %}">CSS3.0</a></li>
      <li><a href="{% url 'js' %}">JavaScript</a></li>
      <li><a href="{% url 'jq' %}">jQuery</a></li>
      <li><a href="{% url 'ajax' %}">AJAX</a></li>
  </ul>

  <ul id="menu">       <!--menu를 지정함으로써 이미 설정한 css를 그대로 사용-->
      <li><a href="{% url 'userlist' %}">USER LIST</a></li>
      <li><a href="{% url 'itemlist' %}">ITEM LIST</a></li>
      <li><a href="{% url 'additem' %}">ADD ITEM</a></li>
  </ul>


    {% if section != None %}
        {% include section %}
    {% else %}          <!--base.html 화면 상태에서는 section == None 상태-->
        <section></section>
    {% endif %}

  <footer></footer>
</body>
</html>